<% title "Time Slots" %>

<table>
  <tr>
    <th>Title</th>
    <th>Start Time</th>
  </tr>
  <% for time_slot in @time_slots %>
    <tr>
      <td><%=h time_slot.title %></td>
      <td><%=h time_slot.start_time.to_s(:short_time) %></td>
      <td><%= link_to "Show", time_slot %></td>
      <td><%= link_to "Edit", edit_time_slot_path(time_slot) %></td>
      <td><%= link_to "Destroy", time_slot, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Time Slot", new_time_slot_path %></p>
