<% title "Time Slot" %>

<p>
  <strong>Start Time:</strong>
  <%=h @time_slot.start_time %><br />
  <%=h "Monday" if @time_slot.monday %>
  <%=h "Tuesday" if @time_slot.tuesday %>
  <%=h "Wednesday" if @time_slot.wednesday %>
  <%=h "Thursday" if @time_slot.thursday %>
  <%=h "Friday" if @time_slot.friday %>
  <%=h "Saturday" if @time_slot.saturday %>
  <%=h "Sunday" if @time_slot.sunday %>
</p>

<p>
  <%= link_to "Edit", edit_time_slot_path(@time_slot) %> |
  <%= link_to "Destroy", @time_slot, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", time_slots_path %>
</p>
