<% semantic_remote_form_for @event, :url => {:action => :update} , :before => "$('#updating_events').show();", :complete => "$('#updating_events').hide();" do |f| %>
    <% f.inputs do %>
        <%= f.input :coaches, :as => :check_boxes %>
        <%= f.input :title, :input_html => {:style => "width:65%;"}  %>
        <%= f.input :time_slot_id, :collection => TimeSlot.all.map{|ts| [ts.start_time.to_s, ts.id]}, :include_blank => false %>
        <%= f.input :event_type_id, :include_blank => false %>
        <%= f.input :start_time, :label => "Start Time", :default => Time.now %>
        <%= f.input :end_time, :label => "End Time" %>
        <%= f.input :description, :input_html => {:rows => 2, :cols => 30}  %>
        <%= f.input :all_day %>
    <% end %>
    <%=f.hidden_field :id, :value => @event.id%>
    <%=f.hidden_field :commit_button, :value => ""%>
    <p>
      <%=f.submit 'Update', :onclick => "document.getElementById('event_commit_button').value = this.value"%>
      <span id = "updating_events" style = "display:none;">Updating, Please wait...</span>
    </p>
<%end %>