<% title "Coach" %>

<p>
  <strong>Name:</strong>
  <%=h @coach.name %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @coach.description %>
</p>
<p>
  <strong>Phone:</strong>
  <%=h @coach.phone %>
</p>

<p>
  <%= link_to "Edit", edit_coach_path(@coach) %> |
  <%= link_to "Destroy", @coach, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", coaches_path %>
</p>
