<% title "Trainers" %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Phone</th>
  </tr>
  <% for coach in @coachs %>
    <tr>
      <td><%=h coach.name %></td>
      <td><%=h coach.description %></td>
      <td><%=h coach.phone %></td>
      <td><%= link_to "Show", coach %></td>
      <td><%= link_to "Edit", edit_coach_path(coach) %></td>
      <td><%= link_to "Destroy", coach, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Trainer", new_coach_path %></p>
